<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/details.css">
    <script src="https://kit.fontawesome.com/95749693e7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <!-- ---- heading ---- -->
        <div class="heading">
            <span>Habit Tracker</span>
            <a class="back" href="/">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
        </div>
        <!-- ---- display details of habit ---- -->
        <div class="top">
            <span class="namee"> <%= habitDetail.name %> </span>
            <span class="timee"> <%= habitDetail.time %> </span>
        </div>
        <hr>
        <!-- ---- display days track of habit ---- -->
        <table>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Change Status</th>
            </tr>
            <% for(let day=0;day<6;day++) {%>
                <tr>
                    <th> <%= track[day].date %> </th>
                    <th> <%= track[day].status %> </th>
                    <th></th>
                </tr>
            <% } %>
           
        
        </table>

    </div>
    
</body>
</html>